:root {
	--bg-primary: #ffffff;
	--bg-secondary: #ACA5D9;
	--text-primary: #000000;
	--text-secondary: #ffffff;
	--text-header: #060606;
	--text-accent: #ACA5D9;
	--text-header--highlight: #aca5d933;
}

.highlight {
	background: linear-gradient(180deg, #ffffff00 50%, var(--text-header--highlight) 50%);
}

body {
	background-color: var(--bg-primary);
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}